<h3 class="bg-primary text-white text-center mt-4">Reusable Component</h3>

<div class="container mt-4">
  <div class="row">
    <div class="col-sm-4 mb-4" *ngFor="let reel of reels">
      <div class="card">
        <div class="card-header">{{reel.title}}</div>
        <div class="card-body">
           
          <img src="{{reel.img}}" alt="">
           
        </div>
        <div class="card-footer">
          <span class="ml-2">
            <app-like [isLiked]="reel.isLike"
            (emitLikeStatus) = "getLikeStatus($event, reel.id)"
            ></app-like>
          </span>
          {{reel.likeCount}}
        </div>
      </div>
    </div>
  </div>
</div>